*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(255, 154, 158), rgb(250, 208, 196));
    justify-content:center;
    align-items: center;
    font-family: sans-serif;
    color: #142a38;

}

.footer {
    background-color: rgba(15, 25, 34, 1);
    align-items: center;
    padding-top: 10px;
    color: antiquewhite;
    text-emphasis-color: gold;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
}
.city{
    background-color: rgb(20, 42, 56);
    color:antiquewhite;
}

svg{
    cursor: pointer;
}
.modeinfo{
    align-items: center;
    flex-direction: column;

}
