*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: -moz-repeating-linear-gradient(rgb(255, 154, 158), rgb(250, 208, 196));
    font-family: sans-serif;
    color: #142a38;

}

.footer {
    background-color: rgba(15, 25, 34, 1);
    align-items: center;
    padding-top: 10px;
    color: antiquewhite;
    text-emphasis-color: gold;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
}
